---
import Layout from "../layouts/Layout.astro";
import { HTHeader } from "@computational-biology-web-unit/ht-vue/components";
import DashboardCard from "../components/DashboardCard.astro";
---

<Layout title="Glastonbury Group">
  <HTHeader slot="header" is-web={true} client:load>
    <a
      slot="logo"
      href="https://humantechnopole.it/en/research-groups/glastonbury-group/"
      target="_blank"
      class="link"
      >Glastonbury Group
    </a>
    <div slot="nav" class="header-nav">
      <a href="/" class="link"> HT CBRC Groups</a>
    </div>
  </HTHeader>
  <h1 slot="title">Glastonbury Group</h1>
  <p slot="title">Coming soon...</p>
</Layout>
