---
import Layout from "../layouts/Layout.astro";
import { HTHeader } from "@computational-biology-sw-web-dev-unit/ht-vue/components";

import GroupCard from "../components/GroupCard.astro";

import calvielloImg from "../images/calviello/calviello-300x300.jpeg";
import davilaImg from "../images/davila/davila-300x300.jpeg";
import glastonburyImg from "../images/glastonbury/glastonbury-300x300.jpeg";
import iorioImg from "../images/iorio/iorio-300x300.jpeg";
import jugImg from "../images/jug/jug-300x370.jpeg";
import pinheiroImg from "../images/pinheiro/pinheiro-300x225.jpeg";
import sottorivaImg from "../images/sottoriva/sottoriva-300x300.jpeg";

const groups = [
  /* {
    slug: "/calviello",
    src: calvielloImg,
    alt: "Calviello img",
    name: "Calviello Group",
    center: "Genomics/ Computational Biology",
  }, */
  {
    slug: "/davila-velderrain",
    src: davilaImg,
    alt: "Davila-Velderrain img",
    name: "Davila-Velderrain Group",
    center: "Neurogenomics/ Computational Biology",
  },
  /* {
    slug: "/glastonbury",
    src: glastonburyImg,
    alt: "Glastonbury img",
    name: "Glastonbury Group",
    center: "Genomics/ Computational Biology",
  }, */
  {
    slug: "/iorio",
    src: iorioImg,
    alt: "Iorio img",
    name: "Iorio Group",
    center: "Computational Biology",
  },
  /* {
    slug: "/jug",
    src: jugImg,
    alt: "Jug img",
    name: "Jug Group",
    center: "Computational Biology",
  }, */
  /* {
    slug: "/pinheiro",
    src: pinheiroImg,
    alt: "Pinheiro img",
    name: "Pinheiro Group",
    center: "Computational Biology",
  }, */
  {
    slug: "/sottoriva",
    src: sottorivaImg,
    alt: "Sottoriva img",
    name: "Sottoriva Group",
    center: "Computational Biology",
  },
];
---

<Layout title="Groups Dashboards">
  <HTHeader slot="header" is-web={true} client:load />
  <h1 slot="title" class="center">HT Groups</h1>
  {groups.map((group) => <GroupCard slot="grid" group={group} />)}
</Layout>

<style lang="scss">
  .groups-link {
    display: block;
    margin: auto;
    text-align: center;
  }
</style>
