---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Groups Dashboards">
	<div class="container-grid">
	</div>
</Layout>

<style lang="scss">
.container-grid {
	display: grid;
	grid-gap: var(--space-md);
	padding-top: var(--space-md);
	padding-bottom: var(--space-md);


	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	justify-items: center;

	& > * {
	  min-width: 30rem;
	}
}
</style>