---
import Layout from "../layouts/Layout.astro";

import  HTHeaderWeb  from "@computational-biology-sw-web-dev-unit/ht-vue/HTHeaderWeb.vue";
import  HTThemeSwitcher  from "@computational-biology-sw-web-dev-unit/ht-vue/HTThemeSwitcher.vue";

import GroupCard from "../components/GroupCard.astro";

import calvielloImg from "../images/group-leaders/calviello-300x300.jpeg";
import davilaImg from "../images/group-leaders//davila-300x300.jpeg";
import glastonburyImg from "../images/group-leaders//glastonbury-300x300.jpeg";
import iorioImg from "../images/group-leaders//iorio-300x300.jpeg";
import jugImg from "../images/group-leaders//jug-300x370.jpeg";
import pinheiroImg from "../images/group-leaders//pinheiro-300x225.jpeg";
import sottorivaImg from "../images/group-leaders//sottoriva-300x300.jpeg";


const groups = [
  /* {
    slug: "/calviello",
    src: calvielloImg,
    alt: "Calviello img",
    name: "Calviello Group",
    center: "Genomics/ Computational Biology",
  }, */
  {
    slug: "/davila-velderrain",
    src: davilaImg,
    alt: "Davila-Velderrain img",
    name: "Davila-Velderrain Group",
    center: "Neurogenomics/ Computational Biology",
  },
  /* {
    slug: "/glastonbury",
    src: glastonburyImg,
    alt: "Glastonbury img",
    name: "Glastonbury Group",
    center: "Genomics/ Computational Biology",
  }, */
  {
    slug: "/iorio",
    src: iorioImg,
    alt: "Iorio img",
    name: "Iorio Group",
    center: "Computational Biology",
  },
  /* {
    slug: "/jug",
    src: jugImg,
    alt: "Jug img",
    name: "Jug Group",
    center: "Computational Biology",
  }, */
  /* {
    slug: "/pinheiro",
    src: pinheiroImg,
    alt: "Pinheiro img",
    name: "Pinheiro Group",
    center: "Computational Biology",
  }, */
  {
    slug: "/sottoriva",
    src: sottorivaImg,
    alt: "Sottoriva img",
    name: "Sottoriva Group",
    center: "Computational Biology",
  },
];
---

<style>
  .header-content {
    display: flex;
    height: 100%;
    justify-content: center;
    padding-block: var(--size-3);
  }

  @media (min-width: 50em) {
    .header-content{
      justify-content: flex-end;
    }
  }
</style>

<Layout heading="HT Groups">
  <HTHeaderWeb slot="header" client:only>
    <div class="header-content"><HTThemeSwitcher client:only /></div>
  </HTHeaderWeb>
  <h2 class="title" slot="heading">HT Groups</h2>
  {groups.map((group) => <GroupCard group={group} />)}
</Layout>
