---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

import DashboardCard from "../components/DashboardCard.astro";
//import DashboardHeader from "../components/DashboardHeader.astro";

const cards = await getCollection("iorio");

const groupLink = {
  label: "Iorio Group",
  url: "https://humantechnopole.it/en/research-groups/iorio-group/",
};
---

<Layout url="https://humantechnopole.it/en/research-groups/iorio-group/" name="Iorio Group">
  <h2 class="title" slot="heading">Iorio Group</h2>
  <!-- <DashboardHeader slot="header" url={groupLink.url} label={groupLink.label} /> -->

<!--   <h2 class="title" slot="heading">Iorio Group</h2>
  <h3 class="title" slot="heading">Apps, Tools and Computable Manuscripts</h3>
  {
    cards.map(async (card) => {
      const { Content } = await card.render();
      const miniLinks = card.data.miniLinks;
      return (
        <DashboardCard miniLinks={miniLinks} logo={card.data.logo}>
          <Content />
        </DashboardCard>
      );
    })
  } -->
</Layout>
