---
import Layout from "../layouts/Layout.astro";
import DashboardHeader from "../components/DashboardHeader.astro";
import DashboardCard from "../components/DashboardCard.astro";
---

<Layout title="Pinheiro Group">
  <DashboardHeader slot="header">
    <a
      slot="logo"
      href="https://humantechnopole.it/en/research-groups/pinheiro-group/"
      target="_blank"
      class="link"
      >Pinheiro Group
    </a>
  </DashboardHeader>
  <h1 slot="title">Pinheiro Group</h1>
  <p slot="title">Coming soon...</p>
</Layout>
