---
import MiniLink from "./MiniLink.astro";
import { Image } from "astro:assets";

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<style>
  .dashboard-card {
    width: 20rem;

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    align-items: center;
    transition: transform 60ms ease-in;

    box-shadow: var(--shadow-3);

    &:hover {
      transform: scale(1.05);
    }
  }

  .card-logo {
    height: 3.5rem;
    width: auto;
    background-color: white;
  }

  :global(.card-text) {
    font-size: var(--font-size-0);
    display: grid;
    gap: var(--size-3);
  }
</style>

<article class="ht-card ht-container dashboard-card">
  <div class="card-logo">
    <Image class="card-logo" src={entry.data.logo} alt="card logo"  />
  </div>
  <div class="card-text"><Content /></div>
  <div class="ht-flex-align-center">
    {entry.data.miniLinks.map(({ url, type }) => <MiniLink url={url} type={type} />)}
  </div>
</article>
