---
import logo from "../images/minilinks/github.png"

const {url} = Astro.props;
---

<a href={url} target="_blank">
    <img class="logo" src={logo} alt="GitHub logo"/>
</a>

<style lang="scss">
    .logo {
        width: 2rem;
        height: 2rem;
    }
</style>
