---
const {group} = Astro.props;
const {src, name, center} = group;
---

<div class="card card-image">
    <div class="image-container">
        <img class="" src={src} alt="iorio group">
    </div>
    <div><h4>{name}</h4>
        <p class="text--sm"> {center}</p>
    </div>
</div>

<style lang="scss">
    .image-container {
        width: 100%;
        height: 30rem;

        img {
            width: 100%;
            height: 100%;
            filter: grayscale(1);
            object-fit: cover;

        }
    }

    .card-image{
        width: 30rem;
        height:100%;

        justify-self: center;

        padding: 0;
        text-align: center;


        transition: transform 0.1s;

        &:hover {
            transform: scale(1.05);
        }
    }
</style>