---
import logo from "../images/minilinks/paper.png"

const {url} = Astro.props;
---

<a href={url} target="_blank">
    <img class="logo" src={logo} alt="Paper logo"/>
</a>

<style lang="scss">
    .logo {
        width: 3rem;
    }
</style>
