---
import "@computational-biology-sw-web-dev-unit/ht-design/style.css";

import  {HTFooter} from "@computational-biology-sw-web-dev-unit/ht-vue/components";

import Heading from "../components/Heading.astro";
---

<style>
  .container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

  main {
    justify-items: center;
    padding-block: 2rem;
  }

  .cards-grid {
    --grid-gap: 4rem;
    --grid-min-item-size: 20rem;
    --grid-placement: auto-fit;
    justify-items: center;
    margin-top: var(--size-7);
  }

  :global(h2.title, h3.title) {
    text-align: center;
    color: var(--ht-text-color-2);
    line-height: var(--font-lineheight-1);
  }
  :global(h2.title) {
    font-size: var(--font-size-8);
    line-height: var(--font-lineheight-1);
  }
  :global(h3.title) {
    font-size: var(--font-size-5);
  }
</style>

<html lang="en">
  <head>
    <Heading title="Groups Dashboards" />
  </head>
  <body>
    <div class="container">
      <slot name="header" />
      <main class="ht-wrapper">
        <div class="ht-layout-stack"><slot name="heading" /></div>
        <section class="ht-grid-auto cards-grid"><slot /></section>
      </main>
      <HTFooter />
    </div>
  </body>
</html>
